.errors {
  color: rgba(255, 29, 29, 0.7);
  font-size: 12px;
  font-weight: 700;
}

.form {
  width: 300px;
  padding: 25px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
}

.contLogo {
  width: 100vw;
  background: #533c74;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 1em;
  color: #533c74;
  font-style: bold;
  margin-top: 1em !important;
}

.contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 2em;
  background-color: #ffffff;
}

.contener input {
  margin-top: 0.4em;
  box-shadow: 1px 1px 5px #ffffff;
  border: none;
  border-radius: 4.5px;
  height: 2.2em;
  width: 20em;
}

.contener h4 {
  font-size: 1em;
  color: #533c74;
  font-style: bold;
  margin-top: 1em !important;
}
