.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    border-radius: 20px;

}
.container:hover {
    transform: scale(1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  }

.img{ 
    height: 200px;
    width: 200px;
    cursor: pointer;
    border-radius: 20px
    

}
.btnName{

    margin-top: 10px;
}

.imgOngs{
    width: 200px;
    height: 200px;
    margin-bottom:10px

}