# dotenv environment variables file
.env

docker

# Dependency directories
node_modules/


# lockfile
yarn.lock
package-lock.json
.eslintcache

#docker
docker-compose.yaml
docker/database/posgres/data