.componentDiv {
  background-color: rgb(101, 81, 131);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: 4.7vw;
}

.GeneralProfileImgs {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: brown;
  height: 150px;
}

.BannerDiv {
  background-color: darkseagreen;
  height: 150px;
  width: 100%;
  
}

.descriptionText {
  color: #ffffff;
   margin: 3;
   text-align: center;
   position: relative;
   padding-bottom: 2vw;
   padding-top: 2vw;
   border-bottom: 1px solid rgba(255, 255, 255, 0.7);
   user-select: none;
}

.bannerImg {
  position: relative;
  height: 150px;
  width: 100%;
  object-fit: cover;
  background-color: darkslategray;
  bottom: 143px;
}

.LogoDiv {
  background-color: #3e2463;
  z-index: 2;
  width: 135px;
  height: 135px;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  left: 6vw;
  border: 4px solid #3e2463;
  top: 3px;
}

.logoImg {
  background-color: rgb(255, 255, 255);
  width: 135px;
  height: 135px;
  border-radius: 9999px;
  object-fit: cover;
}

.divInfo {
  position: relative;
  color: white;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
}

.infoContent {
  color: white;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  background-color: #3e2463;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.name,
.email,
.phone,
.description,
.street,
.zipcode {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: rgba(255, 255, 255, 0.425);
  user-select: none;
}

.name,
.email,
.phone,
.description,
.street,
.zipcode,
.stateCityNumber {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.stateCityNumber {
  width: 100%;
  height: 50px;
  display: flex;
  color: white;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.425);
}

.stateName {
  margin-right: 10px;
}

.streetName {
  margin-right: 5px;
}

.divh2 {
  position: relative;
  bottom: 1vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 2vw;
  user-select: none;
}

.h2 {
  position: relative;
}
.divRenderCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-left: 10vw;
}

.description {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.425);
}

.descripText {
  font-size: medium;
  color: whitesmoke;
  text-align: center;
}
