.body,
html {
  height: 100%;
   margin: 0;
  padding: 0;
  background: #ffffff;
}

.heroimage {
  margin-top: 3em;
  position: relative;
  height: calc(100vh - 48px);
  overflow: hidden;
  background-image: url(https://res.cloudinary.com/dxbtqclyu/image/upload/v1643123411/Copia_de_Sin_t%C3%ADtulo_800_x_800_px_1200_433_px_1200_500_px_ssucs5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container {
  margin-top: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.container h1 {
  font-size: 5 2px;
  letter-spacing: 0.2em;
  margin: 0;
}

.container h1 span {
  margin-top: 3em;
  border: 10px solid white;
  padding: 6px 20px;
  display: inline-block;
  background-color: #ab7ab990;
}

.container h1 .span {
  border: 10px solid white;
  padding: 6px 20px;
  display: inline-block;
  background-color: #ab7ab990;
}

.titleBanner {
  font-size:5vh;
}

.des {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}

.search {
  margin-top: 1em;
  padding: 10px 24px;
  font-size: 20px;
  margin-bottom: 10em;
}

.btn {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.arrowDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #44b700;
}
.arrowDiv p {
  color: #44b700;
  position: relative;
  top: 10px;
  user-select: none;
}
.goDown {
  color: white;
}

@media screen and (min-width: 576px) {
  .btn {
    display: none;
  }
}

.contOngs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.ongAndTitleContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ongAndTitleContainer2 {
  display: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleOng {
  margin: 0;
  font-size: 5vh;
  color: rgb(99, 37, 180);
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .ongAndTitleContainer {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .ongAndTitleContainer2 {
    display: none;
  }
}
