.divInputGeneral {
  background-color: rgba(255, 255, 255, 0.541);
  border: 2px solid darkslateblue;
  padding: 10px;
  position: relative;
  bottom: 15px;
}

.OrderBy,
.filterByCategory,
.minPrice,
.maxPrice,
.maxExp {
  display: flex;
  flex-direction: column;
  color: darkslateblue;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.minPrice,
.maxPrice {
  width: 140px;
}

.OrderByInput,
.filterByInput,
.minPriceInput,
.maxPriceInput,
.maxExpInput {
  position: relative;
  border: 2px solid darkslateblue;
}

.maxExpInput {
  width: 132px;
}

.divButtons {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.applyButton,
.resetButton {
  background-color: white;
  border: 1px solid darkslateblue;

  font-size: 14px;
  padding: 5px;
  font-weight: 700;
  color: darkslateblue;
  transition: 0.3s;
}

.applyButton:hover {
  background-color: rgba(47, 255, 168, 0.404);
}

.resetButton:hover {
  background-color: rgba(255, 47, 47, 0.404);
}
