.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.landing {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/gif_landing.gif);
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  position: relative;
}

.btncontent {
  display: flex;
  justify-content: space-around;
}
.btncont {
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: center;
}
.logo1 {
  position: relative;
  right: 25px;
  top: 80px;
  height: 95px;
}

.divImgLanding {
  width: 400px;
  height: 400px;
}

.imglogolanding {
  margin-top: 80px;
  width: 400px;
  height: 400px;
}

.goDown {
  color: white;
  margin-top: 20px;
}

.aboutCards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  margin-top: 50px;
}

.containerAbouts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* imagen de about */
.imgAbout {
  margin-top: -35%;
  margin-left: 55%;
  width: 700px;
}

@media screen and (max-width: 576px) {
  .content {
    margin-top: 50px;
  }
  .logo1 {
    display: none;
  }
  .logo {
    top: 50px;
    width: 250px;
  }
  .aboutCards {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 340px;
    align-items: center;
  }
  .aboutCards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    width: 340px;
  }
  .imgAbout {
    visibility: hidden;
  }

  .footer {
    visibility: hidden;
  }
  .containerAbouts {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    height: 900px;
    align-items: center;
  }

  .goDown {
    visibility: hidden;
  }
}
@media screen and (min-width: 576px) {
  .logo {
    visibility: hidden;
  }
}
