.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.landing {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/gif_landing.gif);
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  position: relative;
}

.btncontent {
  display: flex;
  justify-content: space-around;
}
.btncont {
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  top: 23px;
  display: flex;
  flex-direction: center;
}
.logo1 {
  position: relative;
  right: 25px;
  top: 80px;
  height: 95px;
}

.divImgLanding {
  width: 400px;
  height: 400px;
}

.imglogolanding {
  width: 400px;
  height: 400px;
  animation: fadeInDown;
  animation-duration: 10s;
}

.goDown {
  color: white;
}

.aboutCards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  margin-top: 25px;
}

.containerAbouts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@media screen and (max-width: 576px) {
  .logo1 {
    display: none;
  }
  .aboutCards {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 340px;
    align-items: center;
  }
  .containerAbouts {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 340px;
    align-items: center;
  }
}
@media screen and (min-width: 576px) {
  .logo {
    visibility: hidden;
  }
}
