.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3e2463;
}

.btncontent {
  display: flex;
  justify-content: space-around;
}

.btningresar {
  background-color: #fdffb6;
  width: 95px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 40px;

  letter-spacing: 0.5px;

  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Changa', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.btnreg {
  background-color: #d68584;
  width: 95px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;

  letter-spacing: 0.5px;

  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Changa', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.btncontinuar {
  background-color: #ffffff;
  width: 95px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  letter-spacing: 0.5px;

  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Changa', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.imglogolanding {
  width: 340px;
}

@media screen and (min-width: 576px) {
  .btningresar {
    display: none;
  }

  .btnreg {
    display: none;
  }
}
