.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2em;
  min-height: 100vh;
  height: 100%;
}

.home {
  background-color: #ececec;
  min-height: 100vh;
  height: 100%;
}

.contweb {
  background-color: #ececec;
  height: 100%;
  margin-top: 30px;
}

.contmobile {
  margin-top: 30px;
  margin-right: 30px;
  background-color: #ececec;
}

.homecont {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 20px;
  z-index: 1;
}

.ProductCardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ShopCardsContainer {
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(62, 36, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  height: 20px;
  color: white;
  background: rgb(130, 105, 170);
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.filtroWeb {
  padding: 1em;
  margin-right: 1em;
}

.divContainerCards {
  height: 100%;
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 5fr);
  grid-column-gap: 2em;
  position: relative;
  right: 5.5em;
  
}

/* ONG SECCION */

.ongAndTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ongAndTitleContainer h2 {
  margin: 10px;
  position: relative;
}
.contOngs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  width: 50%;
  height: 200px;
}
.titleOng {
  /* text-shadow: 1px 3px 0 #969696; */
  font-size: 25px;
  color: rgb(99, 37, 180);
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .contweb {
    display: none;
  }
  .filtroWeb {
    display: none;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
  }
  .divContainerCards {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

@media screen and (min-width: 576px) {
  .header {
    display: none;
  }
}

@media screen and (min-width: 576px) {

  .filtroWeb {
    width: 400px;
  }
}

@media screen and (min-width: 1900px) {
  .divContainerCards {
  position: relative;
  right: 29.5em;
  grid-template-rows: repeat(3, 0.26fr);
  }
  .filtroWeb {
    width: 500px;
  }
}
