.cartItemContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  color: #3e2463;
}

.name {
  text-align: start !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 150px;
  max-width: 150px;
}

.quantity {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 10px;
}

.empty {
  text-align: center;
  min-width: 240px;
  color: #3e2463;
}
