.divGenrelContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 280px;
  padding-top: 50px;
  padding-right: 280px;
  background-color: rgb(117, 82, 156);
  min-height: calc(100vh - 50px);
  height: 100%;
  position: relative;
}

.generalHeader {
  width: 100%;
}

.purchaseDetail {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 20px;
  border-radius: 2px;
  padding-left: 5px;
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
}

.divCompanyName {
  width: 250px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: 250px;
}
.companyName {
  position: relative;
  top: 5px;
  left: 25px;
}

.agreementDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background: white;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.payMethod {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.methodsContainer {
  height: 60px;
  /* background: chocolate; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
}
.separator {
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: transparent;
  height: 1px;
  margin-bottom: 20px;
}

.buyButton {
  width: 100px;
  color: white;
  background: rgb(44, 4, 63);
  border-radius: 4px;
  border: none;
  padding: 5px;
  transition: 0.3s;
}

.buyButton:hover {
  background-color: #4cc75e;
  cursor: pointer;
}

.buyButton:disabled {
  background: rgba(44, 4, 63, 0.329);
  cursor: auto;
}
