.productcard {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 450px;
  background-color: rgba(38, 5, 41, 0.527);  
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.btncontent {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.content {
  margin-right: 25px;
}

.nameDiv {
  position: relative;
  top: 5px;
  width: 260px;
  height: 20px;
}
.name {
  width: 260px;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  border-radius: 4px;
  padding-right: 0;
color: white;
}

.description {

  width: 260px;
  height: 45px;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: white;
}

.divInc {
display: flex;
justify-content: space-around;
position: relative;
bottom: 10px;
}

.nameInc {
color: white;
font-size: 12px;
font-weight:bold;
font-family: "Quicksand", sans-serif;
position: relative;
right: 25px;
}

.precio {
  color: white;
font-size: 12px;
font-weight:bold;
font-family: "Quicksand", sans-serif;
position: relative;
right: 20px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5px;
}

.btnresdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  position: relative;
}

.btnres {
  background-color: transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  width: 120px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  transition: 0.3s;
}

.btnres:hover {
  background-color: #d685846b;
}


.btndetdiv {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btndet {
  font-weight: 700;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  width: 120px;
  height: 30px;
  transition: 0.3s;
}

.btndet:hover {
  background-color: #fdffb662;
}

.img {
  position: relative;
  left: 13px;
  width: 160px;
  height: 180px;
 
}

.divImg {
  width: 160px;
  height: 180px;
  display: flex;
  /* background-color: rgb(255, 255, 255); */
  position: relative;
  margin-right: 30px;
/* background: turquoise; */

}

.BoxGeneral {
  color: white;
  background-color: rgba(38, 5, 41, 0.788);  
  box-shadow: 2px rgba(255, 0, 0, 0.288);
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  flex-direction: row-reverse;
}

.titleTypographyName {
display: flex;
position: relative;
bottom: 5px;
}

.titleTypographyStreet {
  display: flex;
  justify-content: flex-end;
position: relative;
top: 20px;
}

.titleTypographyDesc {
position: relative;
bottom: 5px;
width: 300px;
height: 140px;
}

.DivPostData {
  display:flex;
  justify-content: space-around;
  width: 550px;
  height: 150px;
}

.PostImgDiv {
width: 100px;  
position: relative;
margin-bottom: 10px;
right: 225px;
}

.PostImg {
  width: 140px;
  height: 140px;
  border: 2px solid white;
  /* border-radius: 10px; */
}

.CompanyNameDiv {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.star {
  color: rgba(255, 255, 255, 0.3);
}

.Rating {
  position: relative;

}

.divBtnReservar {
width: 100px;
height: 40px;
display: flex;
justify-content: center;
position: relative;
left: 22px;
bottom: 10px;
}

.btnReservar {
width: 100px;
height: 30px;
background-color: transparent;
border: 2px solid white;
color: white;
font-size: 14px;
font-weight: 700;
border-radius: 2px;
transition: 0.3s;
cursor: pointer;
}

.btnReservar:hover {
background-color: rgba(221, 128, 51, 0.692);
}
/* 
.boxCompany {
  background-color: rgba(0, 0, 0, 0.25);
} */