.header {
  text-align: center;
  background-color: #5b457a;
  height: 95px;
}
.logo{
  position: relative;
  top: 23px;
}
.logo1 {
  position: relative;
  top: 10px;
  margin-top: -15px;
  float: left;
  position: fixed;
  height: 95px;
}

.btncont {
  float: right;
  margin-top: -25px;
  margin-right: 25px;
}

.btning {
  width: 95px;
  margin-right: 25px;
  letter-spacing: 0.5px;
  background-color: transparent;
  color:khaki;
  border: 1px solid khaki;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.5px;

  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Changa', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.btning:hover {
  background: rgba(255, 255, 255, 0.10);
}

.btnreg {
  background-color: transparent;
  width: 95px;
  color: coral;
  border: 1px solid coral;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  letter-spacing: 0.5px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Changa', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.btnreg:hover {
  background: rgba(255, 255, 255, 0.10);
}

@media screen and (max-width: 576px) {
  .logo1 {
    display: none;
  }

  .btning {
    display: none;
  }
  .btnreg {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .logo {
    visibility: hidden;
  }
}
