.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0;
}

@media screen and (max-width: 576px) {
  .imagen {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .texto {
    display: none;
  }
  .texto2 {
    font-display: 100;
  }
}
