@media screen and (max-width: 576px) {
  .contenedor {
    width: 95% !important;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }
  .inputs1 input {
    width: 40% !important;
  }
}

@media screen and (min-width: 576px) {
}

.cabeza {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.photo {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1.5em;
  justify-content: center;
}

.photo img {
  border-radius: 100px;
  width: 5.5em;
  height: 5.5em;
}

.contenedor {
  /* background-color: rgb(215, 221, 221); */
  background-color: #ececec;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: 25em;
  border-radius: 8px;
}

.contenedor h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: flex-start !important;
}

.botones {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  margin-bottom: 2em !important;
}
.inputs1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40em;
}

.inputs1 input {
  width: 50%;
  height: 2em;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
