.generalDivContainer {

    position: relative;
    background-color: rgb(117, 82, 156);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    height: 100%;

}

.emptyCart {
    width: 100%;
    text-align: center;
    padding-bottom:20px;
}

.emptyCart h2 {
    font-weight: 100;
}

.divClearButton {
    display: flex;
    justify-content: end;
    }


.generalSubDivContainer {
    
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 90%;
    border-radius: 4px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.divStringCart {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 5px;

}

.StringCart {
    display: flex;
    align-items: center;
    position: relative;
    left: 40px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.CompanyShopCardContainer {
    margin-bottom: 10px;
}




.clearButton {
    position: relative;
    right: 54px;
    background-color: rgb(207, 61, 68);
    font-size: 16px;
    padding: 6px;
    color: white;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.39);
    border: none;
    transition: 0.3s;
}

