.generalDivContainer {

    position: relative;
    top: 46px;
    background-color: rgb(68, 8, 83);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}




.generalSubDivContainer {
    
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 10px;
    width: 80vw;
    height: 85%;
    border-radius: 4px;
}

.divStringCart {
position: relative;
top: 5px;
display: flex;
justify-content: flex-start;
align-items: center;
}

.StringCart {
    display: flex;
    align-items: center;
    position: relative;
    left: 40px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.CompanyShopCardContainer {
    margin-bottom: 10px;
}

