.botoneraContent {
  display: flex;
  justify-content: center;
}

.btn {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  border: none;
  background-color: #5b457a;
  color: white;
  border-radius: 9999px;
  position: relative;
  right: 25px;
  z-index: 2;
}
