.containerCardAbout {
  width: 800px;
  height: 650px;
  margin-top: 100vh;
}
.containerCardValores {
  width: 90%;
  margin-top: 16vh;
  margin-right: 5vw;
}
.mision,
.vision {
  margin-top: 120vh;
  margin-bottom: 5%;
  min-width: 275;
}

@media screen and (max-width: 576px) {
  .containerCardAbout {
    width: 100vw;
    position: relative;
    margin-right: 10vw;
    margin-top: 180vh;
    height: 170vh;
  }
  .containerCardValores {
    width: 100vw;
    position: relative;
    top: 50vh;
  }
  .mision {
    position: relative;
    top: 225vh;
    margin-left: 50vw;
  }
  .vision {
    position: relative;
    top: 80vh;
    margin-left: 50vw;
    margin-bottom: 40px;
  }
}
