.register {
  height: calc(100vh - 75px);
  padding-top: 75px;
}
.contLogo {
  position: relative;
  bottom: 75px;
  width: 100vw;
  background: #533c74;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  margin: 10px;
}
.form {
  background: #ececec;
  height: 100vh;
}

.divInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  margin-top: 10px;
  width: 300px;
  height: 20px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
  top: 10px;

  color: #3e2463;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  position: relative;
  display: flex;
  margin: 0%;
  background: #fdffb6;
  color: #3e2463;
}

.google {
  position: relative;
  width: 310px;
  top: 30px;
  margin: 0%;
  background: #3e2463;
}

.errors {
  color: rgba(255, 29, 29, 0.7);
  font-size: 12px;
  font-weight: 700;
}

.divErrorNombre {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.divErrorEmail {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.divErrorPassword {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.divErrorPassword2 {
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
