.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputs {
  width: 69%;
  padding: 9px;
  margin-left: 43px;
  margin-top: 30px;
  border: 1px solid;
}

.header {
  text-align: center;
  background-color: #5b457a;
}

img {
  display: block;
  margin: auto;
}

.title {
  margin-left: 100px;
}

.btn {
  margin-left: 150px;
  width: 90px;
}

.google {
  margin-left: 90px;
}
